:root {
  --light-color: #f2f7f2;
  --dark-color: #262730;
  --third-color: #d33f49;
  --black-color: #000;
}

body {
  font-family: "Lora", serif;
  font-size: 20px;
  background-color: var(--light-color);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
}

a, li, p {
  color: var(--dark-color);
}

.container {
  max-width: 820px;
  margin: 0 auto;
}

/* Links */

.link {
  transition: color 0.2s ease-out;
  text-decoration: none;
  color: var(--dark-color);
}

.link:hover {
  color: var(--third-color);
}

/* Lists */

.list {
  list-style-position: inside;
}

.list li {
  padding-bottom: 3px;
}

.list span {
  position: relative;
  left: -10px;
}

.list li::marker {
  color: var(--third-color);
}

.list__style-none {
  list-style: none;
}

/* Header */

.header {
  padding: 20px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .nav__list {
    flex-wrap: wrap;
  }
}

/* Main */

.main {
  padding: 20px;
}

.main section:not(:last-child) {
  padding-bottom: 20px;
}

/* Profile */

@media screen and (max-width: 640px) {
  .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.profile__image {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 50%;
  user-select: none;
}

/* Education */

.education p {
  font-size: 18px;
}

.education a {
  border-bottom: 2px solid #d33f49;
  line-height: 38px;
}

.education li:not(:last-child) {
  margin-bottom: 12px;
}

/* Footer */

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 20px 0 20px;
}

.footer__nav a {
  height: 30px;
}

.rsschool-logo {
  height: 30px;
}

.github-logo {
  height: 30px;
  width: 70px;
  fill: var(--black-color);
  transition: all 0.15s ease-out;
}

.github-logo:hover {
  fill: var(--third-color);
}

.footer p {
  font-size: 18px;
}
